# domains and e-mail
LE_EMAIL=
DISCOURSE_DOMAIN=
BOOKWYRM_DOMAIN=
DISCOURSE_FROM=

# Brevo SMTP
BREVO_SMTP_USER=
BREVO_SMTP_PASS=

# DB and secrets
DISCOURSE_DB_PASSWORD=
BOOKWYRM_DB_PASSWORD=
BOOKWYRM_SECRET=
